*{
    font-family: 'Montserrat';
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

body {
    background: radial-gradient(ellipse at top, #f7c14c, transparent),
            radial-gradient(ellipse at bottom, rgb(252, 207, 111), transparent);
    margin: 0; /* Remove default margin */
    display: flex;
    flex-direction: column; /* Stack children vertically */
    min-height: 100vh; /* Ensure the body takes at least the full viewport height */
}

#calcS{
    color: rgb(252, 207, 111);

}

#poHeader{
    position: absolute;
    top: 13%;
    left: 35%;
}
.header{
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
   
    z-index: 2;
    position: fixed;
    width: 100%;
    height: 80px;
    display: block;
    background-color: white;
}

.innerHeader{
    

    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
    background-color: white;
}


  
.button-33 {
  background-color: rgb(252, 207, 111);
  border-radius: 100px;
  box-shadow: rgba(252, 207, 111, .2) 0 -25px 18px -14px inset,rgba(252, 207, 111, .15) 0 1px 2px,rgba(252, 207, 111, .15) 0 2px 4px,rgba(252, 207, 111, .15) 0 4px 8px,rgba(252, 207, 111, .15) 0 8px 16px,rgba(252, 207, 111, .15) 0 16px 32px;
  color: white;
  cursor: pointer;
position: absolute;
top: 31%;
right: 0.4%;
  padding: 7px 15px;
  text-align: center;
  text-decoration: none;
  transition: all 250ms;
  border: 0;
 
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-33:hover {
  box-shadow: rgba(252, 207, 111,.35) 0 -25px 18px -14px inset,rgba(252, 207, 111,.25) 0 1px 2px,rgba(252, 207, 111,.25) 0 2px 4px,rgba(252, 207, 111,.25) 0 4px 8px,rgba(252, 207, 111,.25) 0 8px 16px,rgba(252, 207, 111,.25) 0 16px 32px;
  transform: scale(1.05) rotate(-1deg);
}



.logoContainer{
    
    height: 100%;
    display: table;
    float: left;
}

.logoContainer h1{
    color: #101010;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 32px;
    font-weight: 300;
}

.logoContainer h1 span{
    font-weight: 800;
}

.navigation{
    float: right;
    height: 100%;
}

.navigation a{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}

.navigation a:last-child{
    padding-right: 0;
}

.navigation a li{

    cursor: pointer;
    display: table-cell;
    vertical-align: middle;
    color: black;
    font-family: 'Montserrat';
    font-size: 16px;
}



.calcWrapper {
    
    flex-direction: row;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%; /* Adjust as needed */
    font-size: 10px;
    background: rgba(255, 255, 255, 0.329);

box-shadow: 0 4px 30px rgba(0, 0, 0, 0.247);
backdrop-filter: blur(1.5px);
-webkit-backdrop-filter: blur(8.3px);
display: inline-flex;
    height: 80%;
margin: auto; /* Center the div horizontally */
flex-grow: 0.5;
border-radius: 16px;
padding-left: 4%;
padding-right: 4%;

}

.calcWrapper div{
    padding: 0%;
   
}



.pInfo{
    border-left: black 0.5px solid;
     
}

.calculator{
    margin-right: 10%;
}



.pInfo h2{
    padding-bottom: 5%;
   display: flex;
   font-weight: 300;
   border: 1px dotted black;
   margin-left: 15%;
    border-radius: 16px;
    margin-bottom: 2%;
    
}
.pInfo h1:hover{
    color: rgb(235, 229, 229);
   
}
#spanLabel{
   margin-left: 2%;
   color: rgb(253, 144, 1);
   font-weight: 900;
}

label {
    font-family: sans-serif;
    font-size: 1rem;
    padding-right: 10px;
    
  }
  
  select {
    font-size: 0.9rem;
    padding: 2px 5px;
    margin-bottom: 5%;
  }
  
#buttonPadding{
    margin-bottom: 30%;
}

  .button-86 {
    
    all: unset;
    width: 100px;
    height: 30px;
    font-size: 16px;
    background: transparent;
    border: none;
    position: relative;
    color: #f0f0f0;
    cursor: pointer;
    z-index: 1;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-86::after,
  .button-86::before {
    
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    border: white 1px solid;
    z-index: -99999;
    transition: all .4s;
  }
  
  .button-86::before {
    
    transform: translate(0%, 0%);
    width: 100%;
    height: 100%;
    background: #f0a608;
    border-radius: 10px;
  }
  
  .button-86::after {
    transform: translate(10px, 10px);
    width: 35px;
    height: 35px;
    background: #d1aa2a15;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 50px;
  }
  
  .button-86:hover::before {
    transform: translate(5%, 20%);
    width: 110%;
    height: 110%;
  }
  
  .button-86:hover::after {
    border-radius: 10px;
    transform: translate(0, 0);
    width: 100%;
    height: 100%;
  }
  
  .button-86:active::after {
    transition: 0s;
    transform: translate(0, 5%);
  }

  @keyframes appear {
    0% {
        opacity: 0; /* Optional: Start invisible */
    }
    25%{
        opacity: 0.25;
    }
    50% {
        opacity: 0.50;
    }
    75%{
        opacity: 0.75;
    }
    100% {
        opacity: 1; /* Optional: Fade in */
    }
}

  #results{
      text-align: center;
      margin-bottom: 3%;
      
  }

